*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 60.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-body-sm: 'Palanquin', sans-serif;
  --ff-body:  'Roboto', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --bg-header-primary:#8E9AAF;
  --bg-header-secundary:#CBC0D3;
  --fc-text:#23053A;
  --fc-span: #4A4E69;


}

body .page {
  max-width: clamp(38.4rem, 40rem, 100rems) ;

  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;

  /* gap:5.2rem; */
}

/* ---------------------------------- HEADER --------------------*/
header {
  background: var(--bg-header-primary);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap:3.2rem;
}

header img {
  padding-top: 3.2rem;

  animation: logoRotation 350ms backwards;

  transition: 200ms;
}

header div {
  background: var(--bg-header-secundary);

  width: 100%;

  text-align: center;

  padding: .8rem;
}

header div h1 {
  color:white;

  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
}

header p {
  background: white;

  font-family: var(--ff-body-sm);
  text-align: center;
  font-size: 2rem;
  line-height: 1.9rem;
  color: var(--fc-text);

  padding-top: 2.6rem;
  
}

/* ---------------------------------- MAIN --------------------*/

main {
  padding: 3.2rem;
}

main .card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

main .card,
main .card-desktop {

  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 0;

}

main .card:hover,
main .card-desktop:hover {
  transform: scale(1.1);
 
}


main .card img,
main .card-desktop img {
  border-radius: 2rem;

  

  animation: downtop 450ms backwards;

  transition: all 300ms;
}

main .card img:hover,
main .card-desktop img:hover{
  opacity: 0.4;
  z-index: -1;
}

main .card span,
main .card-desktop span {
  
  font-family: var(--ff-body);
  color: var(--fc-span);
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: white;

  width:11.2rem;
  height: 3.5rem;

  border-radius: 2rem;

  position: absolute;
  right: 0;

  margin: 1.6rem;

  animation: topdown 550ms 100ms backwards;

  transition: all 350ms;

}

main .card-desktop{
  display: none;
}

/* ---------------------------------- FOOTER --------------------*/

footer {
  font-family: var(--ff-footer);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;

  text-align: center;
  color: var(--fc-span);

  margin-bottom: 1rem;
}

footer a {
  font-weight: 700;
  text-decoration: none;
  color: var(--fc-span);
}

/* ---------------------------------- ANIMAÇÃO --------------------*/

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);

  }

  100%{ 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes logoRotation {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/* ---------------------------------- MEDIAS --------------------*/

@media (min-width:600px) {
  body .page {
    max-width:60rem ;
  
    margin: 0 auto;
  }

  header p {

    padding: 2.6rem 3.2rem 0;

  }
 
  main .card img,
  main .card-desktop img{
    width: 250px;
  }

  main .card-wrapper{
    display: grid;

    gap:1rem;
  
    justify-content: center;

    grid-template-areas: 'picole shake' 'palheta massa';
   
    grid-auto-rows: 196px 352px ;
    
  }

  main .card-wrapper .card:nth-child(1){
    grid-area: picole;
  }
  main .card-wrapper .card:nth-child(2){
    grid-area: shake;
  }
  main .card-wrapper .card:nth-child(3){
    grid-area: massa;
    justify-content: end;
 
  }
 
  main .card-wrapper .card:nth-child(4){
    grid-area: palheta; 
  
  }

  main .card:hover {
    transform: scale(1.04);
   
  }
  
  main .card.card:nth-child(3) span {
    top: 43%;
  }

}
@media (min-width:900px) {
  body .page {
    max-width:90rem ;
  
    margin: 0 auto;
  }

  header p {

    padding: 2.6rem 3.2rem 0;

  }
 
  main .card-wrapper{
    display: grid;

    object-fit: contain;
    gap:1rem;
  
    justify-content: center;

    grid-template-areas: 'picole shake picole2' 'palheta massa palheta2';
   
    grid-auto-rows: 200px 350px ;
    
  }

  main .card-desktop{
    display: block;
  }

  main .card-wrapper .card:nth-child(1){
    grid-area: picole;
  }
  main .card-wrapper .card:nth-child(2){
    grid-area: shake;
  }
  main .card-wrapper .card:nth-child(3){
    grid-area: massa;

    justify-content: end;
  }
  main .card-wrapper .card:nth-child(4){
    grid-area: palheta;

  
  }
  main .card-wrapper .card-desktop:nth-child(1){
    grid-area: palheta2;

  }
  main .card-wrapper .card-desktop:nth-child(2){
    grid-area: palheta2;

  }
  

}

